@import url('https://fonts.googleapis.com/css?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

html {
  font-size: 15px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.25;
  font-family: 'Ovo', serif;
  margin: 1rem 0 1rem 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .1em;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.15rem;
}

h4::before {
  content: '⇨';
  margin-right: .5rem;
}

h5 {
  font-size: 1.05rem;
}

a {
  color: inherit;
}

hr {
  border: 1px solid #eee;
  margin: 1.5rem auto;
  width: 75%;
}

#content {
  color: #303030;
  width: 90%;
  max-width: 900px;
  margin: auto;
  line-height: 1.6;
  padding: 1rem 0 4rem 0;
  position: relative;
}

#content::after {
  content: '';
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8) 30%,
    rgba(255, 255, 255, 0.6) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

#content p + p {
  margin-top: .5rem;
}

#content ul {
  list-style: disc;

}

#content ol,
#content ul {
  padding-left: 2rem;
  margin: 1rem 0;
}

#content table {
  margin: 1rem 0;
}

#content table {
  width: 100%;
  border: 1px solid #b4b4b4;
  width: 100%;
  overflow: auto;
  font-size: 0.9rem;
}

#content table td,
#content table th {
  padding: .15rem .7rem;
  border: 1px solid #b4b4b4;
}

#content table th {
  font-weight: 700;
}

#content thead {
    background:  #d0d0d0;
}

#content table tr {
  break-inside: avoid;
  break-after: auto;
}

#content table tr:nth-child(even) {
  background-color: #e6e6e6;
}

#content .title {
  margin: 0;
}

#content .title .version {
  font-size: 0.5em;
}

#content .meta {
  text-align: center;
  position: relative;
  top: -5px;
  opacity: .75;
  font-size: 1.1rem;
}

#content footer {
  margin-top: 2rem;
  font-style: italic;
  text-align: center;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 60em) {
  html {
    font-size: 18px;
  }
}

@media print {
  @page {
    margin: 10mm 20mm;
  }

  html {
    font-size: 10pt;
  }

  body {
    -webkit-print-color-adjust: exact !important;
  }

  h1, h2, h3, h4, h5 {
    page-break-inside: avoid;
  }

  h1 {
    margin-top: 0;
  }

  h1::after,
  h2::after,
  h3::after,
  h4::after,
  h5::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }

  #content {
    width: 100%;
    line-height: 1.4;
  }

  #content::after {
    content: none;
  }
}